<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="Email address" #emailInput="ngModel" required email />
        <mat-error *ngIf="emailInput.invalid">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required />
        <mat-error *ngIf="passwordInput.invalid">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>
      <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
