:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  max-width: 100%;
  max-height: 20rem;
  margin-bottom: 1rem;
}

.post-image img {
  max-width: 100%;
  max-height: 20rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
