<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Messages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isLoggedIn">
      <a mat-raised-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-raised-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a mat-raised-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="isLoggedIn">
      <button mat-raised-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
