ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  margin: 0 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
